.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.writer-profile-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #989ca2;
}

.writer {
  font-size: 0.875rem;
  color: #666;
}

.title {
  font-size: 1rem;
  margin: 0;
  font-weight: normal;
}

.comment-count {
  font-size: 0.875rem;
  color: black;
  font-weight: bold; /* 댓글 수만 볼드체 적용 */
}

small {
  padding-right: 20px;
  font-size: var(--font-bold-caption);
}

.date {
  white-space: pre;
}

.product-img {
  padding-top: 3px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.board-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.board-list {
  width: 100%;
}

.board-item {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  gap: 1rem;
}

.item-number {
  flex: 0 0 40px;
  text-align: center;
}

.item-content {
  flex: 1;
}

.content-main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content-main a {
  text-decoration: none;
  color: inherit;
}

.content-main .title {
  font-size: 1rem;
  margin: 0;
  font-weight: normal;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.content-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 769px) {
  .board-container {
    padding: 1rem;
  }
  .board-item {
    flex-direction: row;
  }
  .item-image {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .board-item {
    flex-wrap: wrap;
  }
  .item-content {
    flex: 1 1 100%;
    order: 2;
  }
  .item-image {
    order: 1;
    width: 100%;
    margin-bottom: 1rem;
  }
  .item-image img {
    width: 100%;
    height: auto;
    max-height: 200px;
  }
  .content-info {
    flex-wrap: wrap;
  }
}
